{% extends "admin/base_site.html" %}
{% load static %}

{% block extrahead %}
{{ block.super }}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
{% endblock %}

{% block title %}{{ site_title }} | 25Carat CRM{% endblock %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'crm/css/admin-style.css' %}">
{% endblock %}
