{% extends "crm/base.html" %}
{% block content %}
<div class="row justify-content-center mt-4">
  <div class="col-md-6">
    <div class="card p-4 shadow-sm">
      <h4 class="card-title text-gold mb-3">Change Password</h4>
      <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
          {{ form.old_password.label_tag }}
          <div class="input-group">
            {{ form.old_password }}
            <button class="btn btn-outline-secondary" type="button" data-password-toggle="id_old_password">Show</button>
          </div>
          {{ form.old_password.errors }}
        </div>
        <div class="mb-3">
          {{ form.new_password1.label_tag }}
          <div class="input-group">
            {{ form.new_password1 }}
            <button class="btn btn-outline-secondary" type="button" data-password-toggle="id_new_password1">Show</button>
          </div>
          {{ form.new_password1.errors }}
        </div>
        <div class="mb-3">
          {{ form.new_password2.label_tag }}
          <div class="input-group">
            {{ form.new_password2 }}
            <button class="btn btn-outline-secondary" type="button" data-password-toggle="id_new_password2">Show</button>
          </div>
          {{ form.new_password2.errors }}
        </div>
        <button class="btn btn-gold">Update password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
